body {
    margin: 0;
    background-image: url('../imgs/bikini_bottom_scenic.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
}


.header-row {
    text-align: center;
}

.pre_text {
    text-align: center;
}


canvas {
    margin: auto;
}


#intro_video {
    width: 770px;
    height: 882px;
}


#username_input_group {
    width: 300px;
}
