.background-blue {
	background-color: #007AFF;
}

a {
	color: #FAFAFA;
}

.white {
	color: #FAFAFA;
	padding-top: 8px;
}

.mui-content>.mui-table-view:first-child {
    margin-top: 0px;
}

.mui-scroll-wrapper {
    top: 44px;
}